<div class="register-background">
  <mat-card>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="text-center mb-6">
              <h1 class="text-3xl font-semibold text-primary">Register</h1>
          </div>
          <app-text-input label="First name" formControlName="firstName" />
          <app-text-input label="Last name" formControlName="lastName" />
          
          <!-- Store Name field - only show for vendors -->
          @if (isVendorSelected) {
            <app-text-input label="Store name" formControlName="storeName" />
          }
          
          <app-text-input label="Email address" formControlName="email" />
          <app-text-input label="Password" formControlName="password" type="password" />

          <div class="mt-4 mb-4 flex items-center justify-center">
            <label class="font-medium text-black">Register as:</label>
            <mat-radio-group formControlName="role" class="ml-4">
              <mat-radio-button value="Customer" class="mr-4">Customer</mat-radio-button>
              <mat-radio-button value="Vendor">Vendor</mat-radio-button>
            </mat-radio-group>
          </div>
          
          @if (validationErrors.length > 0) {
              <div class="mb-3 p-4 bg-red-100 text-red-500">
                <ul class="list-disc px-3">
                  @for (error of validationErrors; track error) {
                    <li>{{error}}</li>
                  }
                </ul>
              </div>
            }
          <button 
              [disabled]="registerForm.invalid"
              mat-flat-button 
              type="submit" 
              class="w-full py-2">Register</button>
          
          <div class="text-center mt-4">
            <span class="text-gray-600">Already have an account? </span>
            <a routerLink="/account/login" class="text-primary hover:underline font-medium">LOGIN</a>
          </div>
      </form>
  </mat-card>
</div>