<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
    <!-- Filters Sidebar -->
    <aside class="col-span-1">
      <app-filters-dialog (filtersChanged)="onFiltersChanged($event)"></app-filters-dialog>
    </aside>

    <!-- Product Grid -->
    <main class="col-span-3">
      @if (products) {
      <div>
        <div class="flex justify-between items-center mb-4">
          <h1 class="text-3xl font-bold">Sports Equipment</h1>
          <p class="text-lg text-gray-600">{{products.count}} Products Found</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          @for (product of products.data; track product.id) {
            <app-product-item [product]="product"></app-product-item>
          }
        </div>

        <mat-paginator class="bg-transparent mt-8"
                       (page)="handlePageEvent($event)"
                       [length]="products.count"
                       [pageSize]="shopParams.pageSize"
                       [showFirstLastButtons]="true"
                       [pageSizeOptions]="pageSizeOptions"
                       [pageIndex]="shopParams.pageNumber - 1"
                       aria-label="select page">
        </mat-paginator>
      </div>
      }
    </main>
  </div>
</div>
